---
---

@import "{{ site.theme }}";

body {
    font-family: 'Roboto Slab', serif;
  }


img {
    border-radius: 8px;
}

a {
    color:#347B98;
}

header {
    width:270px;
    float:top;
    position:fixed;
    -webkit-font-smoothing:subpixel-antialiased;
  }